---
http_interactions:
- request:
    method: get
    uri: https://api.tomtom.com/search/2/categorySearch/atm.json?key=DONT_SHARE_MY_SECRET_KEY&lat=37.583311&lon=-79.048573
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracking-Id:
      - e7a881a1-5951-4058-83b4-628803746ca2
      X-Apigee.target-Latency:
      - '12'
      X-Tomtom-Processed-By:
      - westus2
    body:
      encoding: ASCII-8BIT
      string: '{"summary":{"query":"atm","queryType":"NON_NEAR","queryTime":9,"numResults":10,"offset":0,"totalResults":96,"fuzzyLevel":1,"geoBias":{"lat":37.583311,"lon":-79.048573},"geobiasCountry":"US"},"results":[{"type":"POI","id":"loJsAe-tn1ML6_DGBTcRww","score":2.8319123882,"dist":438.497338,"info":"search:ta:840519002452165-US","poi":{"name":"Bank
        Of The James","categorySet":[{"id":7397}],"categories":["cash dispenser"],"classifications":[{"code":"CASH_DISPENSER","names":[{"nameLocale":"en-US","name":"cash
        dispenser"}]}]},"address":{"streetNumber":"164","streetName":"South Main Street","municipality":"Amherst","countrySecondarySubdivision":"Amherst","countrySubdivision":"VA","countrySubdivisionName":"Virginia","postalCode":"24521","extendedPostalCode":"24521-2642","countryCode":"US","country":"United
        States","countryCodeISO3":"USA","freeformAddress":"164 South Main Street,
        Amherst, VA 24521","localName":"Amherst"},"position":{"lat":37.586297,"lon":-79.051824},"viewport":{"topLeftPoint":{"lat":37.5872,"lon":-79.05296},"btmRightPoint":{"lat":37.5854,"lon":-79.05069}},"entryPoints":[{"type":"main","position":{"lat":37.58619,"lon":-79.05163}}]},{"type":"POI","id":"QYZ1UScWfGxP6CVojMGYSQ","score":2.8318809169,"dist":529.992583,"info":"search:ta:840519002363168-US","poi":{"name":"First
        National Bank","categorySet":[{"id":7397}],"categories":["cash dispenser"],"classifications":[{"code":"CASH_DISPENSER","names":[{"nameLocale":"en-US","name":"cash
        dispenser"}]}]},"address":{"streetNumber":"130","streetName":"South Main Street","municipality":"Amherst","countrySe[...]
